# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
.env
*.env

# Node / React
node_modules/
frontend/build/
frontend/dist/
.npm/

# Docker
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
*.pem
*.key
secrets.yaml